<header class="bg-white fixed top-0 left-0 z-10 w-full h-header-height">
	<div class="container mx-auto px-4 flex justify-between items-center h-full">
		<a href="/">
			<h1>Logo</h1>
		</a>
	</div>
</header>
