doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title #{title || 'Document'}
		link(rel="stylesheet" href="/styles/css/output.css")
	body
		include ./header
		main
			div(class="container mx-auto px-4")
				block main-content
		include ./footer
		block script
